/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree .
*/

/* navbar-fixed-top */
body {
  min-height: 2000px;
  padding-top: 70px;
}

form.navbar-form * {
  padding-right: 10px;
}

h1 > small,
h2 > small,
h4 > small {
  margin-left: 10px;
}

h1 > iframe {
  margin-left: 50px;
}

input#search_term {
  width: 200px;
}
